*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}
body{
   background: url("photo.jpeg");
}

.card{
  height:700px;
  width:600px;
  border-radius:5%;
  background:linear-gradient(-45deg, #948967, #3bb6df);
  position:absolute;
  top:6%;
  left:50%;
  bottom:35%;
  transform:translate(-50%);
  

}
.search .inpt input{
    height:50px;
    width:350px;
    border-radius:30px;
    background:#fff;
    font-size:1.2rem;
    border:0px;
    outline:0px;
    position:absolute;
    text-indent: 4%;
    top:15%;
    left:45%;
    bottom:70%;
    transform:translate(-50%);
}
.search .inpt i{
    position:absolute;
    top:17.5%;
    left:68%;
    display:flex;
    justify-items:center;
}

.search .srch{
  height:50px;
  width:50px;
  border-radius:50%;
  position:absolute;
  color:black;
  top:15%;
  left:82%;
  bottom:35%;
  transform:translate(-50%);
}
.mid div{
  color:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
  
}
.mid .icon img{
  height:200px;
  width:200px;
  position: absolute;
  top:25%;
  left:30%;
}
.mid .temp{
  text-align:center;
  position: absolute;
  top:55%;
  left:38%;
  font-size:3rem;
}
.mid .locate{
  text-align:center;
  position: absolute;
  top:68%;
  left:32%;
  font-size:3rem;
}

.footer .humidity{ 
  display:flex;
  justify-content: space-between;
  align-items:center;
  color:white;
  font-weight:0.25rem;
  position:absolute;
  bottom:7%;
  left:33%;
  transform:translate(-80%);
  font-size: 1.5rem;
  font-weight:200;
}
.footer .humidity img{
  height:50px;
  width:50px;
}
.humidity .info{
   margin-left:15px;
}
.footer .wind{ 
  display:flex;
  justify-content: space-between;
  align-items:center;
  color:white;
  position:absolute;
  bottom:7%;
  left:80%;
  transform:translate(-80%);
  font-size: 1.5rem;
  font-weight:100;
}
.footer .wind img{
 height:55px;
 width:55px;
}
.wind .info2{
  margin-left:15px;
}
